Flask==3.1.1
Flask-SQLAlchemy==3.1.1
flask-swagger==0.2.14
py==1.11.0
PyDispatcher==2.0.6
requests==2.32.5
pulsar-client==3.7.0
pulsar-client[avro]==3.7.0
psycopg2-binary==2.9.10
gunicorn==23.0.0
requests==2.32.5
